@use 'src/styles/vars' as v;

.converter {
  width: 90%;
  margin: 0 auto;
  height: 100vh;
<<<<<<< Updated upstream
  max-width: 400px;
=======
  max-width: 600px;
>>>>>>> Stashed changes
  padding: v.$gutter;
}